<ion-header>
  <div class="header-page">
    <span></span>
    <span>PEDIDOS</span>
    <span></span>
  </div>
</ion-header>

<ion-content padding class="animated faster slideInDown">
  <div class="wrap-choice-init">
    <span class="fs2 purple central-h bold">Escola o tipo de Açaí</span>
    <div class="mt10">
      <span [ngClass]="{'bt-default-checked' : chooseCream}" class="bt-default" (click)="showBtCream()">Cremoso</span>
      <span [ngClass]="{'bt-default-checked' : chooseCranchy}" class="bt-default" (click)="showBtCranchy()">Crocante</span>
    </div>
  </div>
  <div class="wrap-cups mt20" [ngClass]="{'animated faster bounceInUp' : chooseCup}" *ngIf="chooseCup === true">
    <div class="cup-inner" (click)="chooseCup1()">
      <span>
        <img [ngClass]="{'animated faster shake' : chooseCupOne}" src="assets/imgs/cup-one.png" alt="">
      </span>
      <span class="legend-cup" [ngClass]="{'legend-cup-checked animated faster rubberBand' : chooseCupOne}">
        300 ml
      </span>
    </div>
    <div class="cup-inner" (click)="chooseCup2()">
      <span>
        <img [ngClass]="{'animated faster shake' : chooseCupTwo}" src="assets/imgs/cup-two.png" alt="">
      </span>
      <span class="legend-cup" [ngClass]="{'legend-cup-checked animated faster rubberBand' : chooseCupTwo}">
        500 ml
      </span>
    </div>
    <div class="cup-inner" (click)="chooseCup3()">
      <span>
        <img [ngClass]="{'animated faster shake' : chooseCupThree}" src="assets/imgs/cup-three.png" alt="">
      </span>
      <span class="legend-cup" [ngClass]="{'legend-cup-checked animated faster rubberBand' : chooseCupThree}">
        1 litro
      </span>
    </div>

  </div>
  <div [ngClass]="{'animated faster bounceInUp' : chooseBasket}" *ngIf="chooseBasket === true">
    <span class="header-basket mt20">Selecione um item, arraste...</span>
    <div class="wrap-scroll">
      <div class="basket-one" [dragula]='"bag"' [dragulaModel]="list">
        <span class="img-ico" *ngFor="let item of list">
          <img class="animated slow infinite swing" src="{{item.product_image}}" alt="">
        </span>
      </div>
    </div>
    <span class="header-basket">...e solte aqui</span>
    <div class="wrap-scroll-two">
      <div class="basket-two" [dragula]='"bag"' [dragulaModel]="resultBag">
        <span class="img-ico-two" *ngFor="let item of resultBag">
          <img class="animated rubberBand" src="{{item.product_image}}" alt="">
        </span>
      </div>
    </div>
  </div>
  <div class="central-h mt10" [ngClass]="{'animated faster slideInUp' : btSave}" *ngIf="btSave === true">
    <button class="bt-default" [disabled]="!btSave" (click)="saveOrder()">SALVAR PEDIDO</button>
  </div>
</ion-content>